html {
    /*background-image: url("../assets/CityBackground.jpg");*/
    background: url("../assets/CityBackground.jpg") repeat center center fixed;
}

html, body {
    color: #ff9d60;
    text-shadow:0px 0px 5px #000000;
    font-family: "FutureMillennium";
}

@font-face {
    font-family: "Platinum Sign";
    src: url("../assets/Platinum Sign.ttf");
}

@font-face {
    font-family: "FutureMillennium";
    src: url("../assets/FutureMillennium.ttf");
}

@font-face {
    font-family: "OatMeal";
    src: url("../assets/OatMeal.ttf");
}

h1 {
    font-family: "OatMeal";
    color: #a63c55;
    text-shadow:5px 5px 5px #000000;
    font-size: 10em;
    font-weight: bold;
    text-align: center;
    /*margin: 0;*/
}

h2 {
    font-family: "OatMeal";
    font-size: 3em;
    font-weight: bold;
}

h3 {
    font-family: "OatMeal";
    color: #a63c55;/*#b640f1;*/
    text-shadow:5px 5px 5px #000000;
    font-size: 10em;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

h4 {
    font-family: "OatMeal";
    color: #a63c55;
    text-shadow:5px 5px 5px #000000;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}

.index {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 15em;
    margin-inline-end: 15em;
    padding: 10px;
    font-size: 1.5em;
    text-align: left;
}

.download {
    text-align: center;
}

.team > ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 40rem;
}

.team li {
    font-size: 1.5em;
}

.work ul {
    font-size: 0.5em;
}
