h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

.trailer {
    text-align: center;
}

.download {
    width: 100%;
    height: 100%;
    text-align: center;
}

.description p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 15em;
    margin-inline-end: 15em;
    padding: 10px;
    font-size: 1.5em;
    text-align: left;
}

.team > ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 40rem;
}

.team li {
    font-size: 1.5em;
}

.work ul {
    font-size: 0.5em;
}
