/* Style the header with a grey background and some padding */
.header {
  padding: 20px 10px;
  background-image: url("../../assets/header.svg");
  background-size: 100% 1000%;
  background-position: center;
  overflow: hidden;
  /*background-color: #f1f1f1;*/
}

/* Style the header links*/
.header a {
  float: left;
  color: #ff9d60;
  text-align: center center;
  padding: 12px;
  text-decoration: none;
  font-size: 25px;
  line-height: 25px;/*25*/
  border-radius: 4px;
}

/* Change the background color on mouse-over */
.header a:hover {
  text-shadow:0px 0px 2px #000000;
  background-color: #ff9d60;
  color: #a63c55;
}

/* Float the link section to the right */
.header-right {
  float: right;
  margin-top: 12px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.header img {
  width : 50px;
  height : 50px;
  padding: 0px;
}